html, body {
  height: 100%;
  background-color: #00203fff;
  /* font-size: 20px; */
}


.min-100 {
  background-color: #fdfcf5;
  border-radius: 25px;
  padding: 100px 25px 25px 50px;
  box-shadow: 15px 10px #eeff04;
  background-image: url("/static/img/bg.jpg");
  /* height: 100%; */
  background-position: 0 -100px;
  background-repeat: repeat-y;
  background-size: contain;
  height: 1000px;
}

.box-single-chat {
  /* margin-top: 200px; */
  max-width: 100%;
  min-height: 500px;
  max-height: 500px;
  width:95%;
  overflow:auto;
  border:8px solid #ebebeb;
  padding: 2%;
  background-color: #ffffff;
  opacity: 95%;
}

.box1{
  background-color: #efefef;
  border-radius: 0 10px 10px 0;
  color: #000000;
  padding-left: 4%;
  padding-right: 4%;
  /* max-width: 100%; */
}

.space{
  padding: 15px 0px 15px 0px;
}

.box2{
  background-color: #2810ff;
  border-radius: 10px 0px 0px 10px;
  color: #fdfcf5;
  padding-left: 4%;
  padding-right: 4%;
  /* max-width: 100%; */
}

.box3{
  background-color: #efefef;
  color: #000000;
  /* background-image: linear-gradient(to right, rgb(156, 5, 156), rgb(0, 0, 255)); */
  border-radius: 10px 10px 10px 10px;
  padding-left: 4%;
  padding-right: 4%;
  margin-left: 2%;
  width: 95%;
}

.box-title{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  text-shadow: 0 0 3px #fdfdfd, 0 0 1px #850000;
  color: #ffffff
}

.send-msg{
  background-color: #ffffff;
  width: 95%;
  border:8px solid #ebebeb;
  border-radius: 0 0 5px 5px;
  padding-right: -25px;
}

input{
  border: none;
  width: 85%;
}

textarea:focus, input:focus{
  outline: none;
}