html, body {
    height: 100%;
}

.col1{
    background-color: brown;
    color: white;
}

.col2{
    background-color: antiquewhite;
    color: black;
}

.col3{
    background-color: aquamarine;
    color: black;
}